/**********************TAG Selectors****************************/
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Black', sans-serif;
}

.container-fluid {
    padding: 7% 15%;

}

.download-btn {
    margin: 5% 3% 5% 0;
}

.fab {
    margin-right: 8px;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat-Light", sans-serif;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.navbar {
    padding:0 0 4.5rem;
}

.nav-item {
    padding:0 24px;
}

.iphone-image {
    transform: rotate(25deg);
    width: 60%;
    margin: 24px 0;
    position: absolute;
    right: 15%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 2rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.feature-subtitle {
    color: #8f8f8f;
}

.section-title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/************************ID Selectors***************************/

#title {
    background-color: #ff4c68;
    color: #fff;
    padding-bottom: 3%;
}

#title .container-fluid {
    padding: 3% 15% 0;
}

#features {
    text-align: center;
    position: relative;
    background-color: white;
    z-index: 1;
}

/* Testimonials Section*/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo-image {
    width: 15%;
    margin: 20px 20px 15px;
}

.carousel-item {
    padding: 7% 15%;
}

.row {
    width: 100%;
}

.card {
      margin: 2rem 1rem 2rem 1rem;
      text-align: center;
}

.card-header {
    background-color: #e3bdb8;
}

.card-body {
    background-color: #eedfdd;
}

.card-footer {
    background-color: #e3bdb8;
    border-top: 0;
}
/*Pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    margin: 1rem 0 0;
}

.price-title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.price-value {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}

@media(max-width: 1024px) {

    #title {
        text-align: center;
    }

    .iphone-image {
        transform: rotate(0);
        position: static;
    }
    
}

#cta {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

#footer {
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* Headings */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}